/vendor
/node_modules
.env
.env.*
*.log
.phpunit.result.cache
/storage/*.key
/public/storage
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
